.NavigationItem {
  margin: 0 32px;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  font-weight: 600;
}

.NavigationItem a {
  color: #0a56bb;
  text-decoration: none;
  height: 100%;
  padding: 12px 10px;
  border-bottom: 4px solid transparent;
}

.NavigationItem a.NavActive {
  font-weight: bold;
  border-bottom: 4px solid #0a56bb;
}
